//header and footer from extends
extends layout
//main content
block content
  .error
    section.jumbotron
      .container-fluid
        .row
		.col-lg-4.col-md-4.col-sm-12.text-center
            img(src="./images/error.png")
          .col-lg-8.col-md-8.col-sm-12
            .form-group.search-box
			  h4 #{error}
              .input-group
                input.form-control.input-lg(type="text", placeholder="Search courses, topics, questions ...")
                .input-group-btn
                  button.btn.btn-default.input-lg(type="submit")
                    i.glyphicon.glyphicon-search
