doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Upskill
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(href="./css/home.css", rel="stylesheet")
  body.home
    // Header
    nav#head-navbar.navbar
      .container-fluid
        a.navbar-brand(href="#")
        ul.nav.navbar-nav.hide-small
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown", href="#") Courses
              span.caret
            ul.dropdown-menu
              li
                a(href="#") Computer Science
              li
                a(href="#") Business
              li
                a(href="#") Health
        ul.nav.navbar-nav.pull-right
          li
            a(href="https://up-skill.herokuapp.com/users/register")
              span.glyphicon.glyphicon-user
              span.hide-small Sign Up
          li
            a(href="https://up-skill.herokuapp.com/users/login")
              span.glyphicon.glyphicon-log-in
              span.hide-small Login
    // Content
    block content
    // Footer
    footer.text-center
      .container
        p © Designed by Team 7