.navbar {
  margin-bottom: 0;
  border-bottom: 2px solid blue;
  padding-bottom: 10px;  
}

.navbar-brand {
    position: relative;
    background: url('../images/logo_old.png') no-repeat scroll center center / contain;
    width: 170px;
    left: 15px;
    background-size: contain;
}

.navbar .search-box {
  color: white; 
  font-size: 1.2em; 
  padding: 5% 10%;
}

.navbar .btn-group .btn {
	margin:10px;
	border-radius: 20px !important;
	background-color: #635C82;
	border:none;
}


.navbar .pull-right li a{
  color: #6874EE !important;
}

.nav>li {
  display: inline-block;
 }

a {
  color: #6874EE;
}

@media screen and (max-width:576px)
{
  .navbar-brand {
    width: 75px;
  }
  .hide-small{
    display: none;
  }  
}

@media (min-width: 992px) {
  .col-md-4 {
      width: 30%;
  }
}