.navbar {
  margin-bottom: 0;
}

.navbar-brand {
    position: relative;
    background: url('../images/logo_old.png') no-repeat scroll center center / contain;
    width: 170px;
    left: 15px;
    background-size: contain;
}

.navbar .pull-right li a{
  color: #6874EE !important;
}

.nav>li {
  display: inline-block;
 }

a {
  color: #6874EE;
}

@media screen and (max-width:768px)
{
  .navbar-brand {
    width: 75px;
  }
  .hide-small{
    display: none;
  }  
}

@media (min-width: 992px) {
  .col-md-3 {
      width: 30%;
  }
}