
.login a {
  color: #6874EE;
  
}


.login .navbar {
  margin-bottom: 0;
}

.login .navbar-brand {
    position: relative;
    background: url('../images/logo_old.png') no-repeat scroll center center / contain;
    width: 170px;
    left: 15px;
    background-size: contain;
}

.login .navbar .pull-right li a{
  color: #6874EE !important;
}

.login .nav>li {
  display: inline-block;
 }

.login .main_content{
	background: linear-gradient(to right, #E2E9FD, #F4FCFF);
    overflow: auto;
	display:block;
	padding-left:1.5rem;
	padding-right:1.5rem;
	padding-bottom:0;
	margin:auto; 
}

.login .col-centered{
	float:none;
	margin: 0 auto;
}

.login .card{
	padding:1rem;
	border-style:solid;
	border-width:0.15rem;
	border-radius:0.5rem;
}

 
.login footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(to right, #D7DFFF , #EAF9FF);
}

.login footer p {
  margin-bottom: .25rem;
}

@media screen and (max-width:768px)
{
  .login .navbar-brand {
    width: 75px;
  }
  .login .hide-small{
    display: none;
  }  
}


@media (min-width: 992px) {
  .login .col-md-3 {
      width: 30%;
  }
}

