
.register a {
  color: #6874EE;
  
}


.register .navbar {
  margin-bottom: 0;
}

.register .navbar-brand {
    position: relative;
    background: url('../images/logo_old.png') no-repeat scroll center center / contain;
    width: 170px;
    left: 15px;
    background-size: contain;
}

.register .navbar .pull-right li a{
  color: #6874EE !important;
}

.register .nav>li {
  display: inline-block;
 }

.register .main_content{
	background: linear-gradient(to right, #E2E9FD, #F4FCFF);
    overflow: auto;
	display: block;
	padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom:0;
	margin:auto; 
}

 
.register footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(to right, #D7DFFF , #EAF9FF);
}

.register .col-centered{
	float:none;
	margin: 0 auto;
}

.register .card{
	padding:1rem;
	border-style:solid;
	border-width:0.15rem;
	border-radius:0.5rem;
}


.register footer p {
  margin-bottom: .25rem;
}

@media screen and (max-width:768px)
{
  .register .navbar-brand {
    width: 75px;
  }
  .register .hide-small{
    display: none;
  }  
}

@media (min-width: 992px) {
  .register .col-md-3 {
      width: 30%;
  }
}

