.container {
  background: linear-gradient(to right, #E2E9FD, #F4FCFF);
  height: 100%;
  overflow: auto;
  margin: 2% 5%;
   
}

ul.success li{
  padding:15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

ul.error li{
  padding:15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.register .main_content{
	background: linear-gradient(to right, #E2E9FD, #F4FCFF);
    overflow: auto;
	display: block;
	padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom:0;
	margin:auto; 
}

.register .col-centered{
	float:none;
	margin: 0 auto;
}

.register .card{
	padding:1rem;
	border-style:solid;
	border-width:0.15rem;
	border-radius:0.5rem;
}

.register .center-div{
  margin: 0 auto;
  float: none;
}
